default:
  suites:
    AppBundle:
      paths:
        - %paths.base%/vendor/timitao/material-management-domain/features/Domain/Unit
      contexts:
        - Behat\AppBundle\Unit\UnitFeatureContext
  extensions:
    Behat\MinkExtension:
      base_url:  'http://localhost:8000'
      sessions:
        default:
          goutte: ~
    SensioLabs\Behat\PageObjectExtension:
      namespaces:
        page:
          - Behat\AppBundle\Unit\Page
